body {
  background-color: black;
}

h1{
  color: white;
  text-align: center;
}

h2{
  color: white;
  text-align: center;
}

button {
  margin: 15px;
  padding: 8px;
}

p#credits {
  color: white;
  text-align: center;
}

footer{
  text-align: center;
  color: yellow;
  font-size: 20px;
  padding: 15px;
  background-color: green;
}

footer a{
  text-decoration: none;
}

footer a p{
  font-size: 15px;
  margin: 5px;
}

footer a img{
  width: 40px;
  margin-top: 5px;
}

div#conta{
  display: flex;
  justify-content: center;
}

img#logo{
  width: 40px;
}

.App {
  text-align: center;
  background-color: rgb(3, 204, 3);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
